:root {
  /*baclgraund color*/
  --b-dark: #2f303a;
  --b-middle: #f5f4fa;
  --b-blue: #2196f3;
  --b-white: #ffffff;
  --b-black: #000000;
  /*text color*/
  --txt-dark: #212121;
  --txt-grey: #757575;
  --txt-light: #ffffff;
  --txt-bleu: #2196f3;
  /*icon*/
  --light: #afb1b8;
  --white: #ffffff;
  --accent-background: #2196f3;
  --dark-background: rgba(255, 255, 255, 0.1);
  --light-background: #ffffff;
  /*fonts*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --timer: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--txt-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 94px 0;
}

.logo {
  font-family: var(--secondary-font);
  color: var(--txt-bleu);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  height: 31px;
}
.logo-dark {
  color: var(--txt-dark);
}
.logo-white {
  color: var(--txt-light);
}

.btn {
  background-color: var(--b-blue);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.head .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.head.logo {
  margin-right: 93px;
}
.head.nav-address {
  margin-left: auto;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-listitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-listitems:not(:last-child) {
  margin-right: 50px;
}

.menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-items {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: color 250ms var(--timer);
  transition: color 250ms var(--timer);
}
.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16px;
  height: 16px;
  background-color: var(--light-background);
  fill: var(--txt-grey);
  margin-right: 10px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: fill 250ms var(--timer);
  transition: fill 250ms var(--timer);
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--txt-grey);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timer);
  transition: color 250ms var(--timer);
}

.accent {
  color: var(--txt-bleu);
  position: relative;
}

a.accent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 45px;
  border-radius: 4px;
  background-color: var(--b-blue);
}
/*# sourceMappingURL=maim.css.map */