/*=========== Common ===========*/

.link-contact:hover,
.link-addres:hover {
  color: var(--txt-bleu);

  transform: opasity;
}

.link-contact:focus,
.link-addres:focus {
  color: var(--txt-bleu);
  outline: 1px solid #757575;

  transform: opasity;
}
/*=========== END header ===========*/

/*=========== header ===========*/

/*=========== END header ===========*/

/*=========== footer ===========*/

/*=========== END footer ===========*/

/*index page*/

/*=========== Hero ===========*/

/*=========== END hero ===========*/

/*=========== about ===========*/

/*=========== END about ===========*/

/*=========== our work ===========*/

/*=========== END our work ===========*/

/*==== TEAM ====*/

/*==== CLIENT ====*/

/*=========== END about ===========*/

/*portfolio page*/

/* =============== BACKDROP ===============*/
