/*=========== Common ===========*/

/*=========== END Common ===========*/

/*=========== header ===========*/

/*=========== END header ===========*/

/*=========== footer ===========*/

/*=========== END footer ===========*/

/*index page*/

/*=========== Hero ===========*/

/*=========== END hero ===========*/

/*=========== about ===========*/

/*=========== END about ===========*/

/*=========== our work ===========*/
.secodary-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.pictures-box {
  display: flex;
  align-items: center;
}

.picture:not(:last-child) {
  margin-right: 30px;
}

.picture {
  position: relative;
}

.shadow-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.shadow-text-descript {
  color: var(--txt-light);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*=========== END our work ===========*/

/*==== TEAM ====*/

.team {
  background-color: var(--b-middle);
  min-height: 648px;
}

.card-box {
  display: flex;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker-name {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.speciality {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--timer);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--light);

  transition: fill 250ms var(--timer);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white);

  transform: opasity;
}

.social-list-link:hover {
  background-color: var(--accent-background);

  transform: opasity;
}

.social-list-link:focus {
  background-color: var(--accent-background);
  outline: 1px solid #757575;

  transform: opasity;
}

/*==== CLIENT ====*/
.list .client {
  display: flex;
}

.client {
  display: flex;
}

.client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.client-link:focus .client-logo-icon,
.client-link:hover .client-logo-icon {
  fill: var(--accent-background);

  transform: opasity;
}

.client-link:hover {
  border: 1px solid var(--accent-background);

  transform: opasity;
}

.client-link:focus {
  border: 1px solid var(--accent-background);
  outline: 1px solid #757575;

  transform: opasity;
}

.client-logo-icon {
  width: 89px;
  height: 52px;
  fill: var(--light);

  transition: fill 250ms var(--timer);
}

.client-icon:not(:last-child) {
  margin-right: 30px;
}

/*=========== END about ===========*/

/*portfolio page*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
  padding: 6px 22px;

  transition: color 1s var(--timer);
  transition: background-color 1s var(--timer);
}

.btn-portfolio:hover {
  background-color: var(--b-blue);
  color: var(--txt-light);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transform: opasity;
}

.btn-portfolio:focus {
  background-color: var(--b-blue);
  color: var(--txt-light);
  border: none;
  outline: 1px solid #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transform: opasity;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
}

.portfolio-card {
  display: flex;
  margin-right: 30px;
  min-height: 404px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
}

.ecxample-card {
  display: block;
}

.ecxample-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ecxample-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: 1px solid #757575;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  border-radius: 0px 0px 4px 4px;
}

.portfolio-title {
  color: var(--txt-dark);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-grey);
  margin-top: 4px;
}

.overlay-box {
  display: flex;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--txt-light);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  transform: translateY(0);
  transition: transform 250ms var(--timer);
}

.ecxample-card:hover .overlay,
.ecxample-card:focus .overlay {
  transform: translateY(-100%);
}

/* =============== BACKDROP ===============*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 250ms var(--timer);
}

.backdrop.is-hidden {
  transition: all 250ms var(--timer);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 250ms var(--timer);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--b-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--timer);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*==== FORM===*/

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title {
  display: flex;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--b-dark);
}

.form-fild-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-grey);
  margin-bottom: 10px;
}

.modal-form-holder {
  position: relative;
  display: block;

  margin-top: 4px;
}

.form-fild-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms var(--timer);
}

.form-fild-input:focus {
  outline: none;
  border: solid 1px var(--accent-background);
}

.form-fild-input:focus + .madal-form-icon {
  fill: var(--accent-background);
}

.madal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms var(--timer);
}

.form-comment-holder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-grey);
  margin-bottom: 20px;
}

.form-fild-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;

  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms var(--timer);
}

.form-fild-comment:focus {
  color: var(--txt-dark);
  outline: none;
  border: solid 1px var(--accent-background);
}

.form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-point-fild:checked + .form-fild-policy::before {
  background-image: url("../images/modal/icon_check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.form-fild-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-grey);
  margin-bottom: 30px;
}

.form-fild-policy::before {
  content: "";
  display: inline-block;

  border: 2px solid var(--b-black);
  width: 16px;
  height: 15px;
  border-radius: 3px;
  margin-right: 8px;
}

.form-contract {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  color: var(--b-blue);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  color: var(--txt-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timer);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  cursor: pointer;
  outline: none;
}
