:root {
  /*baclgraund color*/
  --b-dark: #2f303a;
  --b-middle: #f5f4fa;
  --b-blue: #2196f3;
  --b-white: #ffffff;
  --b-black: #000000;
  /*text color*/
  --txt-dark: #212121;
  --txt-grey: #757575;
  --txt-light: #ffffff;
  --txt-bleu: #2196f3;
  /*icon*/
  --light: #afb1b8;
  --white: #ffffff;

  --accent-background: #2196f3;
  --dark-background: rgba(255, 255, 255, 0.1);
  --light-background: #ffffff;

  /*fonts*/
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;

  --timer: cubic-bezier(0.4, 0, 0.2, 1);
}

/*=========== Common ===========*/

body {
  font-family: var(--main-font);
  font-style: normal;
  color: var(--txt-grey);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn {
  background-color: var(--b-blue);
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
}

.address:hover .link-icon,
.address:focus .link-icon {
  fill: var(--txt-bleu);
  color: var(--txt-bleu);
  outline: none;

  transform: opasity;
}

.link-items:hover,
.link-contact:hover,
.link-addres:hover,
.address:hover {
  color: var(--txt-bleu);

  transform: opasity;
}

.link-items:focus,
.link-contact:focus,
.link-addres:focus,
.address:focus {
  color: var(--txt-bleu);
  outline: 1px solid #757575;

  transform: opasity;
}

/*=========== END Common ===========*/

/*=========== header ===========*/
.head {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
}
.head .container {
  display: flex;
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.menu-links {
  display: flex;
}
.logo {
  font-family: var(--secondary-font);
  color: var(--txt-bleu);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  height: 31px;
}
.head .logo {
  margin-right: 93px;
}

.logo-dark {
  color: var(--txt-dark);
}

.link-items {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;

  transition: color 250ms var(--timer);
}

.nav-listitems:not(:last-child) {
  margin-right: 50px;
}

.nav-listitems {
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  color: var(--txt-grey);
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms var(--timer);
}

.link-icon {
  display: flex;
  width: 16px;
  height: 16px;
  background-color: var(--light-background);
  fill: var(--txt-grey);
  margin-right: 10px;
  object-fit: contain;
  object-position: center;

  transition: fill 250ms var(--timer);
}

.head .nav-address {
  margin-left: auto;
}

.accent {
  color: var(--txt-bleu);
  position: relative;
}

a.accent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 45px;
  border-radius: 4px;

  background-color: var(--b-blue);
}

/*=========== END header ===========*/

/*=========== footer ===========*/
.footer {
  background-color: var(--b-dark);
  min-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.contakt-box {
  display: flex;
  flex-direction: column;
  width: 231px;
  /*margin-right: 70px;*/
}

.logo-white {
  color: var(--txt-light);
}

.footer-address {
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.link-addres {
  color: var(--txt-light);

  transition: color 250ms var(--timer);
}

.link-contact {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--timer);
}

.list-element:not(:last-child) {
  margin-bottom: 9px;
}

.following-box {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  /*margin-right: 93px;*/
  width: 206px;
}

.follow-mailing {
  color: var(--txt-light);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .social-list-icon {
  fill: var(--white);
}

.footer .social-list-link {
  background-color: var(--dark-background);
}

.mailing-box {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  width: 570px;
}

.form-contact {
  display: flex;
  position: relative;
}

.mailing-input {
  width: 358px;
  height: 50px;
  background-color: var(--b-dark);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mailing-input:focus {
  outline: none;
  color: var(--txt-grey);
  border: 1px solid var(--accent-background);
}

.mailing-box .btn {
  display: flex;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  color: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: color 250ms var(--timer);
}

.btn-follow-mailing:focus,
.btn-follow-mailing:hover {
  cursor: pointer;
  color: var(--txt-dark);

  transform: opasity;
}

.icon-send-fly {
  position: absolute;
  right: 28px;
  top: 13px;
  display: flex;
  fill: var(--txt-light);
}

/*=========== END footer ===========*/

/*index page*/

/*=========== Hero ===========*/

.hero {
  min-height: 600px;
  /*
  padding-top: 207px;
  padding-bottom: 193px;
  */

  align-items: center;
  flex-direction: column;
}

.hero .container {
  background-color: var(--b-dark);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/main/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  max-width: 1600px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.hero-descr {
  margin-top: 207px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  color: var(--txt-light);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0;
}

.btn-hero {
  color: var(--txt-light);
  margin-top: 30px;
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  align-items: center;
  letter-spacing: 0.05em;

  transition: color 250ms var(--timer);
}

.btn-hero:hover {
  color: var(--txt-dark);
  cursor: pointer;

  transform: opasity;
}

.btn-hero:focus {
  color: var(--txt-dark);
  cursor: pointer;

  transform: opasity;
}
/*=========== END hero ===========*/

/*=========== about ===========*/
.secodary-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.description-title {
  color: var(--txt-dark);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  padding-right: 10px;
}

.principle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--b-middle);
  border-radius: 4px;
  margin-bottom: 30px;
}

.principle-example {
  width: 70px;
  height: 70px;
}

.principle {
  width: 270px;
}

.principle:not(:last-child) {
  margin-right: 30px;
}

.works-box {
  display: flex;
}

.item-box .container,
.item-box-principle .container,
.team .container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.item-box-principle {
  padding-top: 94px;
}

/*=========== END about ===========*/

/*=========== our work ===========*/

.item-box {
  padding-top: 94px;
  padding-bottom: 94px;
}
.item .container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.pictures-box {
  display: flex;
  align-items: center;
}

.picture:not(:last-child) {
  margin-right: 30px;
}

.picture {
  position: relative;
}

.shadow-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.shadow-text-descript {
  color: var(--txt-light);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/*=========== END our work ===========*/

/*==== TEAM ====*/

.team {
  background-color: var(--b-middle);
  min-height: 648px;
  padding: 94px 0;
}

.card-box {
  display: flex;
}

.team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  width: 270px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.worker-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.worker-name {
  color: var(--txt-dark);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.speciality {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  background-color: var(--light-background);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms var(--timer);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--light);

  transition: fill 250ms var(--timer);
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white);

  transform: opasity;
}

.social-list-link:hover {
  background-color: var(--accent-background);

  transform: opasity;
}

.social-list-link:focus {
  background-color: var(--accent-background);
  outline: 1px solid #757575;

  transform: opasity;
}

/*==== CLIENT ====*/
.list .client {
  display: flex;
}

.client {
  display: flex;
}

.client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
}

.client-link {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid var(--light);
  border-radius: 4px;
}

.client-link:focus .client-logo-icon,
.client-link:hover .client-logo-icon {
  fill: var(--accent-background);

  transform: opasity;
}

.client-link:hover {
  border: 1px solid var(--accent-background);

  transform: opasity;
}

.client-link:focus {
  border: 1px solid var(--accent-background);
  outline: 1px solid #757575;

  transform: opasity;
}

.client-logo-icon {
  width: 89px;
  height: 52px;
  fill: var(--light);

  transition: fill 250ms var(--timer);
}

.client-icon:not(:last-child) {
  margin-right: 30px;
}

/*=========== END about ===========*/

/*portfolio page*/
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio .container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-portfolio {
  background-color: var(--b-middle);
  color: var(--txt-dark);
  font-weight: 500;
  padding: 6px 22px;

  transition: color 1s var(--timer);
  transition: background-color 1s var(--timer);
}

.btn-portfolio:hover {
  background-color: var(--b-blue);
  color: var(--txt-light);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transform: opasity;
}

.btn-portfolio:focus {
  background-color: var(--b-blue);
  color: var(--txt-light);
  border: none;
  outline: 1px solid #757575;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transform: opasity;
}

.work-example {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100%-60px) / 3);
}

.portfolio-card {
  display: flex;
  margin-right: 30px;
  min-height: 404px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 0px 0px 4px 4px;
}

.ecxample-card {
  display: block;
}

.ecxample-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.ecxample-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  outline: 1px solid #757575;
}

.portfolio-card:nth-child(3n) {
  margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-content {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;

  border-radius: 0px 0px 4px 4px;
}

.portfolio-title {
  color: var(--txt-dark);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--txt-grey);
  margin-top: 4px;
}

.overlay-box {
  display: flex;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--txt-light);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;
  transform: translateY(0);
  transition: transform 250ms var(--timer);
}

.ecxample-card:hover .overlay,
.ecxample-card:focus .overlay {
  transform: translateY(-100%);
}

/* =============== BACKDROP ===============*/
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: all 250ms var(--timer);
}

.backdrop.is-hidden {
  transition: all 250ms var(--timer);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: opacity 250ms var(--timer);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--b-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms var(--timer);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/*==== FORM===*/

.feedback-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 448px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-title {
  display: flex;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--b-dark);
}

.form-fild-title {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-grey);
  margin-bottom: 10px;
}

.modal-form-holder {
  position: relative;
  display: block;

  margin-top: 4px;
}

.form-fild-input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms var(--timer);
}

.form-fild-input:focus {
  outline: none;
  border: solid 1px var(--accent-background);
}

.form-fild-input:focus + .madal-form-icon {
  fill: var(--accent-background);
}

.madal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;

  transition: fill 250ms var(--timer);
}

.form-comment-holder {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--txt-grey);
  margin-bottom: 20px;
}

.form-fild-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  resize: none;

  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms var(--timer);
}

.form-fild-comment:focus {
  color: var(--txt-dark);
  outline: none;
  border: solid 1px var(--accent-background);
}

.form-policy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-point-fild:checked + .form-fild-policy::before {
  background-image: url("../images/modal/icon_check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

.form-fild-policy {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--txt-grey);
  margin-bottom: 30px;
}

.form-fild-policy::before {
  content: "";
  display: inline-block;

  border: 2px solid var(--b-black);
  width: 16px;
  height: 15px;
  border-radius: 3px;
  margin-right: 8px;
}

.form-contract {
  text-decoration-skip-ink: none;
  text-decoration: underline;
  color: var(--b-blue);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  color: var(--txt-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color 250ms var(--timer);
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  cursor: pointer;
  outline: none;
}
