.secodary-title {
  color: var(--txt-dark);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.description-title {
  color: var(--txt-dark);

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  padding-right: 10px;
}

.principle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--b-middle);
  border-radius: 4px;
  margin-bottom: 30px;
}

.principle-example {
  width: 70px;
  height: 70px;
}

.principle {
  width: 270px;
}

.principle:not(:last-child) {
  margin-right: 30px;
}

.works-box {
  display: flex;
}

.item-box-principle {
  padding-top: 94px;
}
